<!DOCTYPE html>
<html lang="en" ng-app="myApp" xmlns:th="http://www.thymeleaf.org" >
<head>
	<title>Secret Inlet</title>
	<base href="/" th:href="@{__${baseURL}__}" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/angular-ui-select/select.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/toastr/build/toastr.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/angular-ui-bootstrap-datetimepicker/datetimepicker.css}" />
	<link rel="stylesheet" th:href="@{/webjars/ng-tags-input/ng-tags-input.min.css}" />
	<link rel="stylesheet" th:href="@{/css/styles.css}"  />
	<link rel="stylesheet" th:href="@{/css/to-do.css}"  />
	<link rel="stylesheet" th:href="@{/css/style-responsive.css}"  />
	<link rel="stylesheet" th:href="@{/css/selectize.default.css}"  />
	<link rel="stylesheet" th:href="@{/css/leaflet.css}"  />
	
</head>
<body>
<section id="container" >
<!--header start-->
      <header class="header black-bg">
             <div class="sidebar-toggle-box">
                 <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
             </div>
            <a href="" class="logo"><b>SECRET INLET</b></a>
       </header>
      <!--header end-->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered">
              	  	<a href="" class="centered">
              	  		<img src="../static/img/ui-sam.jpg" th:src="@{/img/ui-sam.jpg}" class="img-circle" width="60"></img>
              	  	</a>
              	</p>
             	 <h5 class="centered">Ariel Duarte</h5>
             	 <li class="mt">
                      
                  </li>
             	 <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Add New Bookmark</span>
                      </a>
                  </li>
              	  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-tasks"></i>
                          <span>Bookmarks List</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="">
                          <i class="fa fa-dashboard"></i>
                          <span>Register</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>Login</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-cogs"></i>
                          <span>About</span>
                      </a>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
    <!--main content start-->
    <section id="main-content" ng-controller="IndexCtrl">
	    <section class="wrapper">
	    <h3><a href="" ng-click="hideList()"><i class="fa fa-angle-right"></i> Bookmarks List</a></h3>
	    	 <div class="row mt" ng-show="tlist">
		    	 <div class="col-md-12">
					<section class="task-panel tasks-widget">
			          	<div class="panel-heading">
			                  <div class=" add-task-row">
			                    <a class="btn btn-success btn-sm pull-right" href="" ng-click="add()">Add New Bookmark</a>
			                </div>
			                <br />
			           	</div>
			            <div class="panel-body">
			                <div class="task-content">
			                    <ul id="sortable" class="task-list" ng-repeat="item in bookmarks">
			                        <li class="list-primary">
			                            <i class=" fa fa-bookmark-o"></i>
			                            <div class="task-title">
			                                <span class="task-title-sp">{{item.name}}</span>
			                                <span class="badge bg-theme">{{item.type}}</span>
			                                <div class="pull-right hidden-phone">
			                                    <button class="btn btn-success btn-xs fa fa-check"></button>
			                                    <button class="btn btn-primary btn-xs fa fa-pencil"></button>
			                                    <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
			                                </div>
			                            </div>
			                        </li>
			
			                    </ul>
			                </div>
			            </div>
			        </section>
				</div>
		    </div>
		    
		    <h3><a href="" ng-click="hideAdd()"><i class="fa fa-angle-right"></i> Add New Bookmark</a></h3>
	    	 <div class="row mt" ng-show="tadd">
		    	 <div class="col-lg-12">
		            <div class="form-panel">
		            	<form class="form-horizontal style-form" ng-submit="onSubmit()">
		            	<div class="panel-heading">
			                <div class="form-group">
			                    <button class="btn btn-success btn-sm pull-right" type="submit">Save Bookmark</button>
			                </div>
			                <br />
			         	</div>
		            		<div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Title*</label>
                              <div class="col-sm-10">
                                  <input ng-model="name" type="text" class="form-control" placeholder="Bookmark title" required="required" autofocus="autofocus"/>
                              </div>
                          	</div>
                          	<div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Author*</label>
                              <div class="col-sm-10">
                                  <input ng-model="author" type="text" class="form-control" placeholder="Author name" required="required"/>
                              </div>
                          	</div>
                          	<div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Category*</label>
                              <div class="col-sm-10">
                                  <input ng-model="category" type="text" class="form-control" placeholder="E.g. Development, Tips and Tricks, Angular2, Code" required="required"/>
                              </div>
                          	</div>
                          	<div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Description</label>
                              <div class="col-sm-10">
                                  <textarea ng-model="description" rows="5" type="text" class="form-control" placeholder="Add a description about this bookmark"></textarea>
                              </div>
                          	</div>
                          	<div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Type*</label>
                              <div class="col-sm-10">
                                  <input ng-model="type" type="text" class="form-control" placeholder="Type E.g. YouTube, Blog, Foro" required="required"/>
                              </div>
                          	</div>
                          	<div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Url</label>
                              <div class="col-sm-10">
                                  <input ng-model="url" type="text" class="form-control" placeholder="Web site where is the bookmark E.g. https://getbootstrap.com" required="required"/>
                              </div>
                          	</div>
                          	<div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Image Url</label>
                              <div class="col-sm-10">
                                  <input ng-model="image" type="text" class="form-control" placeholder="This image can be a models image or something image about your bookmark e.g. https://scotch.io/wp-content.jpg"/>
                              </div>
                          	</div>
                          	<div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Tags</label>
                              <div class="col-sm-10">
                              	  <tags-input ng-model="tags" class="bootstrap" replace-spaces-with-dashes="true" placeholder="Add a tag.."></tags-input>
                              </div>
                          	</div>
                          	<div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Code Example</label>
                              <div class="col-sm-10">
                                  <textarea ng-model="code" rows="5" type="text" class="form-control" placeholder="Add code example here"></textarea>
                              </div>
                          	</div>
                          	<div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Date</label>
                              <div class="col-sm-10">
                                  <input ng-model="createdDT" type="text" class="form-control" placeholder="E.g. April 25, 2014"/>
<!--                                   <datetimepicker ng-model="createdDT" -->
<!--                                     show-meridian=true -->
<!--                                     date-format="dd-MMM-yyyy" -->
<!--                                     datepicker-append-to-body="false" -->
<!--                                     readonly-date="false" -->
<!--                                     disabled-date="false" -->
<!--                                     hidden-time="true" -->
<!--                                     hidden-date="false" -->
<!--                                     name="datetimepicker" -->
<!--                                     show-spinners="false" -->
<!--                                     readonly-time="false" -->
<!--                                     date-opened="dateOpened" -->
<!--                                     show-button-bar="false"> -->
                              </div>
                          	</div>
		            	</form>
		            </div>
				</div>
		    </div>
		    
		    <h3><a href="" ng-click="hideMap()"><i class="fa fa-angle-right"></i> Secret GO Map</a></h3>
	    	 <div class="row mt" ng-show="tmap">
		    	 <div class="col-md-12">
					<section class="task-panel tasks-widget">
			          	<div class="panel-heading">
			                  <div class=" add-task-row">
			                    <a class="btn btn-default btn-sm pull-right" href="">Select a Region</a>
			                </div>
			                <br />
			           	</div>
			            <div class="panel-body">
			                <div class="task-content">
			           			<leaflet markers="markers" lf-center="osloCenter" height="1000"></leaflet>
			                </div>
			            </div>
			        </section>
				</div>
		    </div>
		</section>
	</section>
	 <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2017 - Ariel Duarte
              <a href="" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
</section>
	
	
	<script type="text/javascript" th:src="@{/webjars/angularjs/angular.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/webjars/angular-sanitize/angular-sanitize.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/webjars/angular-animate/angular-animate.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/webjars/angular-ui-router/release/angular-ui-router.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>

	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/webjars/angular-ui-bootstrap/ui-bootstrap.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/webjars/angular-ui-bootstrap/ui-bootstrap-tpls.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/webjars/bootbox/bootbox.js}"></script>
	
	<script type="text/javascript" th:src="@{/webjars/toastr/build/toastr.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/webjars/angular-ui-select/select.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/webjars/angular-ui-bootstrap-datetimepicker/datetimepicker.js}"></script>
	
	<script type="text/javascript" th:src="@{/webjars/ng-tags-input/ng-tags-input.min.js}"></script>

	<script type="text/javascript" th:src="@{/webjars/URI.js/URI.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/app.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/services.js}"></script> 
	
 	<script type="text/javascript" th:src="@{/js/controllers.js}"></script> 
 	
 	<script type="text/javascript" th:src="@{/js/tasks.js}"></script> 
 	
	<!--  	Map's dependecies -->

	<script type="text/javascript" th:src="@{/js/leaflet.js}"></script> 
	
	<script type="text/javascript" th:src="@{/js/angular-leaflet-directive.min.js}"></script>
	
</body>
</html>